click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
Pillow
python-dateutil
pytz
six
https://download.pytorch.org/whl/torch_stable.html
torch
https://download.pytorch.org/whl/torch_stable.html
torchvision
typing-extensions
Werkzeug
